@model ShopProjectMVC.Core.Models.User

<h1>Login</h1>

<form asp-action="Login" method="post">
	<label>Email: </label>
	<input type="email" asp-for="Email"/><br/><br/>
	<label>Password: </label>
	<input type="password" asp-for="Password"/>
	<input type="submit" class="btn btn-primary"/>
</form>

<div>
	<a asp-action="Register">Register</a>
</div>
